body {
    background-color: #1e1e1e;
    }
    
    header {
      position:relative;
      background-color: #2b4aff;
      padding: 20px;
      color: white;
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .container {
      display: flex;
      color: white;
      margin: 15px;
      justify-content: space-between;
      flex-direction:column; 
      flex-wrap: wrap;
    }

    .container #Scliente, .container #Sproducto {
      border: 2px solid #5970ef;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 10px;
    }

    .sectorProductoTemp {
      margin-top: 10px;
      border: 1px solid #444;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
    }
    
    .btnEliminarProducto {
      margin-top: 1px;
      background-color: #ff4c4c;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      float: right;
    }
    


    label, input {
        width: 100%;
        margin-bottom: 10px;
    }
    
    button {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #2b4aff;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #1a3cfa;
    }
